{% extends 'layouts/base.html' %}
{% load django_bootstrap5 %}

{% block title %} Presentation {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block body_class %} index-page {% endblock body_class %}

{% block content %}
    {% include "includes/navigation-light2.html" %}
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 d-flex justify-content-center flex-column">
                    <div class="card d-flex blur justify-content-center p-4 shadow-lg my-sm-0 my-sm-6 mt-8 mb-5">
                        <div class="text-center">
                            <h3 class="text-gradient text-primary">Опросник</h3>
                            <p class="mb-3">
                                Демо реестра и сохранения данных
                            </p>
                        </div>
                        {% bootstrap_messages %}
                        <form method="post" class="form" role="form">
                            {% csrf_token %}
                            {% bootstrap_form form layout='horizontal' %}
                            {% bootstrap_button button_type="submit" content="Отправить" %}
                            <input type="hidden" name="form_type" value="form">
                        </form>

                        <h3 class="mb-3 mt-5">Менструальная функция </h3>
                        <form method="post" class="form" role="form">
                            {% csrf_token %}
                            {% bootstrap_form periods_form layout='horizontal' %}
                            {% bootstrap_button button_type="submit" content="Отправить" %}
                            <input type="hidden" name="form_type" value="periods_form">
                        </form>

                        <h3 class="mb-3 mt-5">Заполняет врач</h3>
                        <form method="post" class="form" role="form">
                            {% csrf_token %}
                            {% bootstrap_form doctor_form layout='horizontal' %}
                            {#                            {% bootstrap_field field='mioma1' layout='horizontal' %}#}
                            {#                            <h4>Ручная форма</h4>#}
                            {#                            {% bootstrap_field doctor_form.mioma1 layout='horizontal' %}#}
                            {% bootstrap_button button_type="submit" content="Отправить" %}
                            <input type="hidden" name="form_type" value="doctor_form">
                        </form>
                        <h3 class="mb-3 mt-5">Техника выполнения селективной эмболизации
                            маточных артерий
                        </h3>
                        <p>Для заполнения врачом радиологом</p>
                        <form method="post" class="form" role="form">
                            {% csrf_token %}
                            {% bootstrap_form artery_embolization_form layout='horizontal' %}
                            <input type="hidden" name="form_type"
                                   value="artery_embolization_form">
                            {% bootstrap_button button_type="submit" content="Отправить" %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
    <script src="/static/assets/js/soft-design-system.min.js?v=1.0.1"
            type="text/javascript"></script>
{% endblock javascripts %}
